{% extends 'base.html' %}

{% block content %}
<form action="/bookings" method="post">
	<ul>
	<li>
	<label for="customer_id">Select a customer:</label>
		<select name="customer_id" id="customer_id">
			{% for customer in customers %}
			<option value="{{ customer.id }}">{{ customer.name }}</option>
			{% endfor %}
		</select>
	</li>
	<li>
	<label for="treatment_id">Select a treatment:</label>
		<select name="treatment_id" id="treatment_id">
			{% for treatment in treatments %}
			<option value="{{ treatment.id }}">{{ treatment.name }}</option>
			{% endfor %}
		</select>
	</li>
	<li>
	<label for="name">Name:</label>
	<input type="text" name="name" placeholder="Enter a name:">
	</li>
	<li>
	<label for="date">Date:</label>
	<input type="text" name="date" placeholder="Enter a date:">
	</li>
	<li>
	<label for="time">Time:</label>
	<input type="text" name="time" placeholder="Enter a time:">
	</li>
	<li><input type='submit' value="Book Appointment">
	</li>
	</ul>
</form>

{% endblock %}