{% extends 'base.html' %}

{% block content %}
<h1> {{customer.name}} </h1>

<h3>Treatments:</h3>

<ul>
	{% for treatment in treatments  %}
	<a href="/treatments/{{treatment.id}}"><li>{{treatment.name}}</li></a>
	{% endfor %}
</ul>

<h3>Bookings:</h3>

<ul>
	{% for booking in bookings  %}
	<a href="/bookings/{{booking.id}}"><li>{{booking.name}}</li></a>
	{% endfor %}
</ul>

<a href="/customers/{{ customer.id }}/edit"><button>Edit {{ customer.name }}</button></a>

<form class="form-inline" action="/customers/{{customer.id}}/delete" method="POST">
	<input type="submit" value="Delete {{ customer.name }}">
</form>

{% endblock %}