{% extends 'base.html' %}

{% block content %}
<main class="main_content_booking">
<div class="flex_list">
<h1>Edit: {{ treatment.name }}</h1>

<form action="/treatments/{{ treatment.id }}" method="post">
	<div>
		<label for="name">Name:</label>
		<input 
			type="text" 
			name="name" 
			id="name" 
			value="{{ treatment.name }}"
			required 
			autofocus
		/>
	</div>
	<div>
		<label for="duration">Duration:</label>
		<input 
			type="number" 
			name="duration" 
			id="duration" 
			value="{{ treatment.duration }}"
			required 
		/>
	</div>
	<button type="submit">Update Treatment</button>
</form>
</div>
<img src="../../static/gifs/gears-spinning.gif" alt="gears spinning" class="booking_image">
</main>
	
{% endblock content %}