{% extends 'base.html' %}

{% block content %}
	<h1>Treatments</h1>
	<ul>
	{% for treatment in treatments %}
		<li><a href="/treatments/{{ treatment.id }}">{{ treatment.name }}</a></li>
		{% if loop.index == 1 %}
			<img src="../../static/images/mantis_blades.jpg" alt="mantis blades" class="treatment_image">
		{% elif loop.index == 2 %}
			<img src="../../static/images/gorilla_arms.jpg" alt="gorilla arms" class="treatment_image">
		{% elif loop.index == 3 %}
			<img src="../../static/images/sandevistan.jpg" alt="sandevistan" class="treatment_image">
		{% else %}
			<img src="../../static/images/plus_sign.jpg" alt="plus sign" class="treatment_image">
		{% endif %}
	{% endfor %}
	</ul>
{% endblock content %}