{% extends 'base.html' %}

{% block content %}
<h1>Add a Treatment</h1>
<main class="main_content_flex_wrap">
		<form action="/treatments" method="post">
			<div class="flex_list">
				<label for="name">Name:</label>
				<input type="text" name="name" placeholder="Enter a name:">
				<label for="duration">Duration:</label>
				<input type="number" name="duration">
				<input type='submit' value="Add Treatment">
			</div>
		</form>
	<img src="../../static/images/cyberware.jpg" alt="cyberware" class="booking_image_single">
</main>

{% endblock %}