<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='style.css') }}"
	/>
	<title>Ripperdoc</title>
</head>
<body>
	<div class="space_between">
	<nav>
		<a href="/" class="nav_link">Home</a>
	</nav>
	<nav>
		<a href="/admin-portal" class="nav_link">Admin Portal</a>
		<a href="/customer-portal" class="nav_link">Customer Portal</a>
	</nav>
	</div>
	{% block content %}
		
	{% endblock content %}
</body>
</html>