{% extends 'base.html' %}
{% block content %}
	<header>
		<h1>Welcome to the Ripperdoc</h1>
		<nav>
			<a href="/admin-portal">Admin Portal</a>
			<a href="/customer-portal">Customer Portal</a>
		</nav>
	</header>
	<main>
		<div id="hero_container">
			<img src="../static/images/ripperdoc.jpg" alt="ripperdoc">
			<a href="/treatments" id="hero_text">Browse Our Procedures</a>
		</div>
		<div id="booking_div">
			<a href="/bookings/new" id="booking_link">Book an Appointment</a>
		</div>
		
	</main>
{% endblock content %}